@import '../variables/variables';

.body__404 {
    background-color: $secondary-color;

    .header {
        background-color: #fff;
    }

    .main {
        font-size: 60px;

        text-transform: uppercase;
        font-weight: 700;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    @media screen and (min-width:700px) {
        .main {
            height: 700px;
        }
    }

    @media screen and (min-width:1024px) {
        .main {
            height: 900px;
        }
    }
}