@import '../variables/variables';

.jobs {
    color: $secondary-color;

    .jobs__content--title {
        margin: 20px 0;
    }

    .jobs__conteiner {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        margin: 30px auto;

        .cards__card {
            width: 300px;
            height: 180px;
            background-color: #fff;
            margin: 35px auto;
            border-radius: 28px;
            display: flex;
            align-items: center;
            justify-content: center;

            .cards__card--title {
                display: inline;
            }

            .cards__card--information {
                margin: 10px 0;
            }

            span {
                margin-left: 20px;
                padding: 5px 8px;
                border-radius: 100%;
                background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
                ;
            }
        }


        .cards__card.unique__card {
            background-color: $secondary-color;
            color: #fff;
            width: 310px;
            position: relative;
            border-radius: 28px 0 0 28px;
            left: 5px;
        }

        @media screen and(min-width:350px) {
            .cards__card {
                width: 330px;

            }

            .cards__card.unique__card {
                width: 350px;
                left: 10px;

            }


        }

        @media screen and(min-width:378px) {
            .cards__card {
                width: 380px;
            }

            .cards__card.unique__card {
                left: 16px;
                width: 393px;
            }
        }

    }
}