$bg-header-1: #FFFFFF;
$primary-color: #5468E7;
$secondary-color: #232340;
$ligth-shader: #606060;
$ligth: #8B8B8B;
$dark: #323259;
$bg-header-2: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);