.footer {
    margin: 30px 0;
    background: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
    padding: 30px 0;

    .desktop {
        display: none;
    }

    .contact {
        box-sizing: border-box;
        background-color: $primary-color;
        text-align: center;
        width: 85vw;
        border-radius: 24px;

        .contact__conteiner--desktop {
            display: none;
        }

        .contact__conteiner:first-child {
            border-bottom: 1px solid #D8D8D8;


            .contact__conteiner--image {
                padding: 40px 0 30px 0;
            }

            .contact__conteiner--hello {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                margin-bottom: 40px;
            }

            .contact__conteiner--information {
                font-size: 18px;
                font-weight: 600;
                line-height: 32px;
                margin-bottom: 40px;
            }
        }

        .contact__conteiner--desktop {
            display: none;
        }

        .contact__conteiner--talk {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            margin: 40px 25px 30px;
        }

        .contact__conteiner {
            text-align: center;
        }

        .btn-cta {
            padding: 15px;
            display: block;
            margin: 40px 60px;
        }
    }

    .info {
        text-align: center;
        margin: 75px auto 0 auto;
        color: #adadad;

        .info_copyright {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin: 20px 0;
        }

        .info__conteiner--images {
            padding: 0.3rem;
        }

        .info__information {
            margin-top: 20px;
            color: #adadad;
            line-height: 26px;
        }

        .info__select {
            background: #fff;
            border: 1px solid #d8d8d8;
            padding: 15px 100px;
            border-radius: 8px;
        }

        .info__social {
            margin: 30px 0;

            .facebook {
                background-color: $primary-color;
            }

            .info__social--figure {
                padding: 10px;
                border: 1px solid #d8d8d8;
                border-radius: 100%;
                text-align: center;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }


        .box-mobile {
            display: block;
        }

        .box-desktop {
            display: none;
        }

        .info__nav {
            display: none;
        }

        .border__desktop {
            display: none;
        }

        .facebook-2 {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .contact__conteiner--desktop {
        display: block;
    }



    .info__select {
        display: none;
    }

    .footer {
        .contact {
            display: grid;
            height: 700px;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            gap: 0 60px;

            .contact__conteiner:first-of-type {
                grid-column: span 2;
                padding-bottom: 60px;

                .contact__conteiner--information {
                    font-size: 32px;
                    line-height: 40px;
                    text-align: center;
                }
            }

            .btn-cta {
                display: none;
            }

            .contact__conteiner {}

            .contact__conteiner--information {
                font-size: 32px;
                line-height: 40px;
                text-align: center;
            }

            .contact__conteiner--hello {
                font-size: 18px;
                line-height: 24px;
            }

        }

        .info {
            .border-desktop {
                display: block;
                width: 100vw;
                background: #D8D8D8;
                height: 1px;
            }

            .info__nav {
                display: block;

                .info__nav--list {
                    display: flex;
                    justify-content: center;
                    margin: 20px;

                    .list__item {
                        &:not(:last-child) {
                            margin-right: 20px;
                        }

                        .list__item--links {
                            text-decoration: none;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 600;
                            color: #8B8B8B;

                            .fixed {
                                color: #5468E7;
                            }
                        }
                    }
                }
            }

            .info__social {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;

                .info__social--figure {
                    background: none;
                    border-radius: 0;
                    border: 0;
                }

                .fixed {
                    background: none;
                }

                .box-mobile {
                    display: none;
                }

                .box-desktop {
                    display: block;

                    >span {
                        font-size: 14px;
                        font-weight: 600;
                        color: #5468E7;
                        line-height: 18px;
                    }
                }
            }
        }

        .desktop {
            display: block;
        }
    }

    .contact__conteiner--image {
        display: none;
    }
}