@import "../variables/variables";

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;

    .header__box {
        display: flex;
        align-items: center;
    }

    .header__item {
        padding: 0.4rem;
    }
}