@import './variables/variables';
@import './components/header';
@import 'pages-style/about';
@import 'pages-style/hero';
@import './pages-style/services';
@import './pages-style/work';
@import './pages-style/cta';
@import './pages-style/jobs';
@import './components/footer';
@import './pages-style/menu';
@import './pages-style/bento';
@import './pages-style/overview';
@import './pages-style/number';

body {
    font-family: 'Roboto', sans-serif;
}

.background-liner {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
    background-attachment: fixed;
}

.localization {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    .localization__content {
        &:last-child {
            margin-left: 20px;

        }
    }
}

.container-content {
    margin: 0 20px;
}

.container-links-setas__seta {
    &:last-child {
        margin-left: 15px;
        padding: 15px;
        background-color: $primary-color;
        border-radius: 100%;
    }
}

.btn-primary {
    background-color: $primary-color;
    color: $bg-header-1;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 0;
    text-decoration: none;
}

.btn-cta {
    text-decoration: none;
    padding: 10px 30px;
    background-color: $bg-header-1;
    border-radius: 8px;
}

.title-h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;

}

.title-h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.title-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.information {
    color: $ligth-shader;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.conteiner-cards {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

    .card {
        width: 290px;

        .card__box {
            height: 350px;

            border-radius: 13px;
            display: flex;
            justify-content: center;

            .card__box--btn {
                position: absolute;
                border-radius: 14px;
                font-size: 9.96px;
                line-height: 12.8px;
                padding: 7px 18px;
                background-color: #908CFF;
                top: 685px;
                left: 40px;
            }


            .card__box--figure {
                width: 280px;
            }
        }

        .card__woman {
            background: #FFBA79;
        }

        .card__main {
            background: #E8BEFF;
        }

        .card__tablet {
            background: #FFCE79;
        }

        .card__tablet2 {
            background: #D1ECFD;
        }

        .card__man {
            background: #FFBA79;
        }

        .card__tablet-esp {
            background: #908CFF;
        }
    }

    @media screen and (max-width:300px) {
        .card {
            width: 260px;
        }

        .card__box {

            .card__box--btn {
                left: 230;
            }

            .card__box--figure {
                width: 150px;
            }

            height: 200px;
        }
    }

    @media screen and (min-width:355px) {
        .card {
            width: 330px;

            .card__box {
                height: 400px;

                .card__box--btn {
                    left: 60px;
                    font-size: 12px;
                }

            }
        }
    }

    @media screen and (min-width:400px) {
        .card {
            width: 370px;
        }

        .card__box {

            .card__box--btn {
                left: 0;
            }

            .card__box--figure {
                width: 400px;
            }

            height: 460px;
        }
    }
}

@media screen and (min-width:1100px) {
    .title-h1 {
        font-size: 84px;
        line-height: 100.24px;
    }

    .title-h2 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;

    }

    .information {
        font-size: 18px;
        line-height: 32px;
    }

    .btn-primary {
        padding: 18px 20px;
        font-size: 18px;
        line-height: 24px;
    }
}