.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.header .header__box {
  display: flex;
  align-items: center;
}
.header .header__item {
  padding: 0.4rem;
}

.index-body {
  background-color: #232340;
}
.index-body .header {
  background-color: #FFFFFF;
}

.about {
  color: #fff;
  height: 100%;
}
.about .localization {
  padding: 60px 0 25px 0;
}
.about .localization .localization__content {
  color: #606060;
}
.about .localization .localization__content:last-child {
  color: #fff;
}
.about .about__content--box {
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.about .about__content--box .box__select--select {
  background-color: #232340;
  border: none;
  color: #fff;
  padding: 0 40px;
}
.about .about__figure {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFC7DF;
  background-image: url("../../assets/shape 3.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 350px) {
  .about .about__figure .about__figure--image {
    width: 310px;
  }
}
.about .about__content--information {
  margin: 30px 0 60px 0;
}
.about .conteiner {
  margin: 100px 0 80px 0;
  text-align: center;
  box-sizing: border-box;
}
.about .conteiner .about__brand {
  padding: 40px;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
  border-radius: 100%;
}
.about .conteiner .about__brand .about__brand--number {
  font-size: 140px;
  font-weight: 600;
  line-height: 167px;
}

.hero {
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 30px;
}

.hero__content--information {
  margin: 20px 0 35px 0;
}

.hero__figure {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-image: url("../../assets/bg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 50px;
}

.services {
  color: #232340;
}
.services .localization.localization-primary {
  color: #5468E7;
  margin-bottom: 20px;
}
.services .container-links-setas {
  margin: 30px 0 60px 0;
}
.services .localization-bottom {
  color: #606060;
  margin: 25px 0 40px 0;
}
.services .localization-bottom .localization__content:last-child {
  color: #232340;
}
.services .about__content--number {
  font-size: 140px;
  line-height: 167.07px;
  font-weight: 600;
  color: #5468E7;
}
.services .about__content--sucess {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}
.services .section__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/circle bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

@media screen and (max-width: 320px) {
  .section__figure {
    background-size: 19rem;
  }
  .section__figure .section__figure--image {
    width: 300px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.background-liner {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  background-attachment: fixed;
}

.localization {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
.localization .localization__content:last-child {
  margin-left: 20px;
}

.container-content {
  padding: 0 20px;
}

.container-links-setas__seta:last-child {
  margin-left: 15px;
  padding: 15px;
  background-color: #5468E7;
  border-radius: 100%;
}

.btn-primary {
  background-color: #5468E7;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 30px;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
}

.btn-cta {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.title-h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

.title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.title-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.information {
  color: #606060;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */