.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;
}
.header .header__nav {
  display: none;
}
.header .header__box {
  display: flex;
  align-items: center;
}
.header .header__item {
  padding: 0.4rem;
}
.header .header__btn {
  display: none;
}

@media screen and (min-width: 700px) {
  .header {
    padding: 10px 30px;
  }
  .header .header__btn {
    display: block;
    text-decoration: none;
    background-color: #232340;
    border: 0;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-align: center;
    width: 100px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .header .header__nav {
    display: block;
  }
  .header .header__nav .header__nav--list {
    display: flex;
  }
  .header .header__nav .header__nav--list .list__item:not(:last-child) {
    margin-right: 20px;
  }
  .header .header__nav .header__nav--list .list__item .list__item--link {
    text-decoration: none;
    color: #8B8B8B;
  }
  .header .header__nav .header__nav--list .list__item .fixed {
    color: #5468E7;
  }
  .header .header__menu--image {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .list__item--link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
}
.index-body {
  background-color: #232340;
}
.index-body .header {
  background-color: #FFFFFF;
}

.about {
  color: #fff;
  height: 100%;
}
.about .about_figure--age {
  display: none;
}
.about .localization {
  padding: 60px 0 25px 0;
}
.about .localization .localization__content {
  color: #606060;
}
.about .localization .localization__content:last-child {
  color: #fff;
}
.about .about__content:first-child {
  padding-bottom: 40px;
}
.about .about__content--box {
  margin: 100px 0 60px 0;
  display: flex;
  justify-content: space-between;
}
.about .about__content--box .box__select--select {
  background-color: #232340;
  border: none;
  color: #fff;
  padding: 0 40px;
}
.about .about__figure {
  background-color: #FFC7DF;
  margin-bottom: 100px;
  box-sizing: border-box;
}
.about .about__figure .about__figure--image {
  position: relative;
  z-index: 2;
}
.about .about__figure .bg-absolute {
  background-image: url("../../assets/shape 3.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: top bottom;
  width: 170px;
  height: 420px;
  z-index: 1;
  right: 0;
  top: 570px;
}
@media screen and (max-width: 350px) {
  .about .about__figure .about__figure--image {
    width: 310px;
  }
}
.about .about__content--information {
  margin: 30px 0 60px 0;
}
.about .conteiner {
  margin: 100px 0 80px 0;
  text-align: center;
  box-sizing: border-box;
}
.about .conteiner .about__brand {
  padding: 40px;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
  border-radius: 100%;
}
.about .conteiner .about__brand .about__brand--number {
  font-size: 140px;
  font-weight: 600;
  line-height: 167px;
}

@media screen and (min-width: 1100px) {
  .index-body {
    background: linear-gradient(0deg, rgba(50, 50, 89, 0.0001) 0%, #323259 72.97%);
    background-attachment: fixed;
  }
  .about .about_figure--age {
    display: block;
  }
  .about .about__content:first-child {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    justify-content: space-between;
    align-items: center;
  }
  .about .about__content:first-child .localization {
    grid-column: 2;
  }
  .about .about__content:first-child .title-h2 {
    grid-column: 2;
  }
  .about .about__content:first-child .container-links-setas {
    position: absolute;
    top: 200px;
  }
  .about .about__content:first-child .box__select {
    display: none;
  }
  .about .about__figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #232340;
  }
}
.hero {
  box-sizing: border-box;
  background-color: #fff;
}

.hero-body .about {
  background-color: #232340;
}

.hero__content--information {
  margin: 20px 0 35px 0;
}

.hero__figure {
  padding: 100px 0;
}
.hero__figure .bg-absolute {
  background-image: url("../../assets/bg (1).svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 420px;
  z-index: 1;
  right: 0;
}
.hero__figure .hero__figure--image {
  width: 300px;
  position: relative;
  left: 20px;
  z-index: 2;
}

@media screen and (min-width: 1100px) {
  .hero {
    grid-template-columns: 1fr 60%;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    margin: 40px 50px;
    padding-bottom: 100px;
  }
  .hero .bg-absolute {
    background-image: url("../../assets/bg.svg");
    width: 800px;
    height: 800px;
    top: 40px;
    right: 60px;
  }
  .hero .hero__figure--image {
    width: 600px;
  }
  .bg-absolute {
    display: block;
  }
}
.services {
  color: #232340;
}
.services .localization.localization-primary {
  color: #5468E7;
  margin-bottom: 20px;
}
.services .container-links-setas {
  margin: 30px 0 60px 0;
}
.services .localization-bottom {
  color: #606060;
  margin: 25px 0 40px 0;
}
.services .localization-bottom .localization__content:last-child {
  color: #232340;
}
.services .services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.services .services__cards .card {
  padding: 60px 50px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 32px;
}
.services .services__cards .card .card__box {
  display: flex;
  align-items: center;
}
.services .services__cards .card .card__box .card__box--image {
  margin-right: 20px;
  padding: 20px;
  border-radius: 100%;
}
.services .services__cards .card .card__box .card__box--communicate {
  background-color: #FFADD0;
}
.services .services__cards .card .card__box .card__box--strategy {
  background-color: #D1ECFD;
}
.services .services__cards .card .card__box .card__box--branding {
  background-color: #908CFF;
}
.services .services__cards .card .card__box .card__box--interactive {
  background-color: #FFC0A5;
}
@media screen and (max-width: 280px) {
  .services .services__cards .card {
    padding: 60px 30px;
  }
}
@media screen and (min-width: 350px) {
  .services .services__cards .card {
    padding: 60px 70px;
  }
}
@media screen and (min-width: 410px) {
  .services .services__cards .card {
    padding: 60px 100px;
  }
}
.services .about__content--number {
  font-size: 140px;
  line-height: 167.07px;
  font-weight: 600;
  color: #5468E7;
}
.services .about__content--sucess {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}
.services .section__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/circle bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

@media screen and (max-width: 320px) {
  .section__figure {
    background-size: 19rem;
  }
  .section__figure .section__figure--image {
    width: 300px;
  }
}
.work .work__content--information {
  margin: 20px 0 30px 0;
}
.work .localization {
  color: #5468E7;
  margin-bottom: 15px;
}
.work .card__box {
  margin-bottom: 20px;
}
.work .card__box:not(:first-child) {
  margin-top: 20px;
}
.work .card__information {
  margin: 20px 0 50px 0;
}
.work .card {
  margin-bottom: 40px;
}
.work .card__link {
  padding: 10px;
  border: 2px solid #232340;
  border-radius: 100%;
  text-align: center;
}
.work .work__conteiner {
  margin: 30px 0;
  text-align: center;
}
.work .work__conteiner .work__conteiner--btn {
  padding: 15px 100px;
}
@media screen and (min-width: 360px) {
  .work .work__conteiner .work__conteiner--btn {
    padding: 15px 120px;
  }
}
@media screen and (min-width: 400px) {
  .work .work__conteiner .work__conteiner--btn {
    padding: 15px 140px;
  }
}

.main-cta {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 850px;
  margin-bottom: 40px;
  position: relative;
}

@media screen and (min-width: 355px) {
  .main-cta {
    height: 950px;
  }
}
.cta {
  box-sizing: border-box;
  background-color: #5468E7;
  color: #fff;
  width: 290px;
  border-radius: 28px;
}
.cta .container-content {
  margin: 0 25px;
}
.cta .cta__content {
  position: relative;
}
.cta .cta__content--title {
  margin-bottom: 30px;
}
.cta .cta__figure {
  position: absolute;
  left: -20px;
  bottom: 0;
}
.cta .cta__figure .cta__figure--image {
  width: 300px;
}
@media screen and (min-width: 360px) {
  .cta .cta__figure .cta__figure--image {
    width: 360px;
  }
}
.cta .localization {
  padding: 50px 0 20px 0;
}

.section__bg-absolute {
  position: absolute;
  background-image: url(../../assets/Mask.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: -40px;
  z-index: 0;
}

@media screen and (min-width: 350px) {
  .cta {
    width: 350px;
  }
}
.jobs {
  color: #232340;
}
.jobs .jobs__content--title {
  margin: 20px 0;
}
.jobs .jobs__conteiner {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  margin: 30px auto;
}
.jobs .jobs__conteiner .cards__card {
  width: 300px;
  height: 180px;
  background-color: #fff;
  margin: 35px auto;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs .jobs__conteiner .cards__card .cards__card--title {
  display: inline;
}
.jobs .jobs__conteiner .cards__card .cards__card--information {
  margin: 10px 0;
}
.jobs .jobs__conteiner .cards__card span {
  margin-left: 20px;
  padding: 5px 8px;
  border-radius: 100%;
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
}
.jobs .jobs__conteiner .cards__card.unique__card {
  background-color: #232340;
  color: #fff;
  width: 310px;
  position: relative;
  border-radius: 28px 0 0 28px;
  left: 5px;
  overflow: hidden;
}
.jobs .jobs__conteiner .cards__card.unique__card .cards_card--figure {
  position: relative;
  right: -20px;
  margin: 0;
  background-color: #5468E7;
  border-radius: 28px 0 0 28px;
}
@media screen and (min-width: 350px) {
  .jobs .jobs__conteiner .cards__card {
    width: 330px;
  }
  .jobs .jobs__conteiner .cards__card.unique__card {
    width: 350px;
    left: 12.5px;
  }
  .jobs .jobs__conteiner .cards__card.unique__card .cards_card--figure {
    right: -35px;
  }
}
@media screen and (min-width: 378px) {
  .jobs .jobs__conteiner .cards__card {
    width: 380px;
  }
  .jobs .jobs__conteiner .cards__card.unique__card {
    left: 16px;
    width: 393px;
  }
  .jobs .jobs__conteiner .cards__card.unique__card .cards_card--figure {
    right: -55px;
  }
}

.footer {
  margin: 30px 0;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
}
.footer .contact {
  box-sizing: border-box;
  background-color: #5468E7;
  text-align: center;
  width: 85vw;
  border-radius: 24px;
}
.footer .contact .contact__conteiner:first-child {
  border: 1px solid #fff;
}
.footer .contact .contact__conteiner:first-child .contact__conteiner--image {
  padding: 40px 0 30px 0;
}
.footer .contact .contact__conteiner:first-child .contact__conteiner--hello {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 40px;
}
.footer .contact .contact__conteiner:first-child .contact__conteiner--information {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
}
.footer .contact .contact__conteiner--talk {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: 40px 25px 30px;
}
.footer .contact .contact__conteiner {
  text-align: center;
}
.footer .contact .btn-cta {
  padding: 15px;
  display: block;
  margin: 40px 60px;
}
.footer .info {
  text-align: center;
  margin: 75px auto 0 auto;
  color: #ADADAD;
}
.footer .info .info_copyright {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 20px 0;
}
.footer .info .info__conteiner--images {
  padding: 0.3rem;
}
.footer .info .info__information {
  margin-top: 20px;
  color: #ADADAD;
  line-height: 26px;
}
.footer .info .info__select {
  background: #fff;
  border: 1px solid #D8D8D8;
  padding: 15px 100px;
  border-radius: 8px;
}
.footer .info .info__social {
  margin: 30px 0;
}
.footer .info .info__social .facebook {
  background-color: #5468E7;
}
.footer .info .info__social .info__social--figure {
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 100%;
  text-align: center;
}
.footer .info .info__social .info__social--figure:not(:last-child) {
  margin-right: 10px;
}

.menu-body {
  background-color: #232340;
}

.menu {
  margin: 60px 0 100px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.menu a {
  color: #595976;
  text-decoration: none;
}
.menu .menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu .fixed a {
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
}
.social .social__figure {
  padding: 13px;
  border: 1px solid #D8D8D8;
  border-radius: 100%;
}
.social .social__figure:not(:last-child) {
  margin-right: 40px;
}

.bento {
  color: #232340;
}
.bento .bento__content--btn {
  color: #fff;
  padding: 8px;
  width: 100px;
  text-align: center;
  background: #FFBA79;
  border-radius: 14px;
  font-size: 9px;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}
.bento .bento__content--title {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
}
.bento .bento__content--information {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 20px 0 30px 0;
}
.bento .bento__content--container {
  display: flex;
  color: #908CFF;
  box-sizing: border-box;
  width: 100%;
}
.bento .bento__content--container .container__icon {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  width: 40%;
}
.bento .bento__content--container .container__icon .container__icon--icon {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 100%;
  background-color: #908CFF;
}
.bento .bento__figure {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: url(../../assets/bg-bento.svg);
  background-repeat: no-repeat;
  height: 380px;
  background-size: 18rem;
  background-position: bottom right;
  margin: 20px 0;
}
.bento .bento__figure .bento__figure--image {
  width: 300px;
}

.overview {
  color: #232340;
}
.overview .overview__figure {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 320px;
  background-color: #C897E4;
  border-radius: 100%;
  left: 10px;
  margin-bottom: 20px;
}
.overview .overview__figure .overview__figure--image {
  width: 220px;
  position: absolute;
  top: 60px;
  left: 18px;
}
.overview .overview__pagination {
  display: flex;
  justify-content: center;
  margin: 30px auto 50px auto;
}
.overview .overview__pagination .overview__pagination--index {
  padding: 4px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
}
.overview .overview__pagination .overview__pagination--index:not(:last-child) {
  margin-right: 15px;
}
.overview .overview__pagination .fixed {
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
}
.overview .overview__content .localization {
  color: #5468E7;
  margin: 30px 0;
}
.overview .overview__content .information {
  margin: 30px 0;
}
.overview .overview__content .title-h3 {
  color: #000;
}
.overview .overview__content .title-h3 span {
  word-wrap: break-word;
}
.overview .overview__conteiner {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0;
}
.overview .overview__conteiner .cards__card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5468E7;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.overview .overview__conteiner .cards__card .cards__card--image {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 100%;
}
.overview .overview__conteiner .cards__card .cards__card--chat {
  background: #FFADD0;
}
.overview .overview__conteiner .cards__card .cards__card--volume {
  padding: 15px;
  background: #FFC0A5;
}
.overview .overview__conteiner .cards__chat {
  box-shadow: 1px 1px 46.392px #EDEDED, 1px 1px 46.392px #EDEDED;
}
.overview .overview__conteiner .cards__volume {
  margin-top: 30px;
  border: 1px solid #D8D8D8;
}

.body-number {
  background-color: #232340;
}

.number {
  color: #fff;
}
.number .localization__content:first-child {
  color: #606060;
}
.number .title-h2 {
  margin: 30px 0;
}
.number .information {
  padding: 30px 0;
  border-top: 0.71px solid #606060;
}
.number .number__content--obj {
  margin-bottom: 20px;
}
.number .number__content--dowload {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.number .number__content--dowload a:not(:last-child) {
  margin-right: 20px;
  background-color: #5468E7;
  padding: 10px 20px;
  border-radius: 100%;
}
.number .number__content--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number .number__content--box .box__select--select {
  padding: 10px 40px;
  background-color: #303055;
  border-radius: 8px;
  border: 0;
  color: #fff;
}
.number .number__figure {
  top: 80px;
  background-color: #FFBA79;
  height: 400px;
  width: 290px;
  position: relative;
  box-sizing: border-box;
  left: 30px;
  padding: 20px 0;
  border-radius: 25px 0 0 25px;
}
.number .number__figure .number__figure--imagem {
  position: absolute;
  left: 10px;
  width: 280px;
  top: 70px;
}
@media screen and (min-width: 365px) {
  .number .number__figure {
    width: 345px;
    height: 445px;
  }
  .number .number__figure .number__figure--imagem {
    width: 335px;
  }
}
@media screen and (min-width: 400px) {
  .number .number__figure {
    width: 395.5px;
    height: 480px;
  }
  .number .number__figure .number__figure--imagem {
    width: 385.5px;
  }
}

.big-num {
  font-weight: 600;
  font-size: 40px;
  font-size: 140px;
  line-height: 167.07px;
}
.big-num span {
  font-weight: 700;
  font-size: 45.51px;
  line-height: 51.2px;
  position: relative;
  bottom: 80px;
  left: -30px;
}

.number__content--obj {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.number__content--obj span {
  font-weight: normal;
}

.second {
  background-color: #fff;
  color: #232340;
  padding: 100px 0;
}
.second .localization {
  color: #5468E7;
  margin: 40px 0;
}
.second .information {
  margin: 30px 0;
}
.second .second__content--box {
  margin: 35px auto 0 auto;
  padding: 20px;
  box-shadow: 1px 1px 46.392px #EDEDED, 1px 1px 46.392px #EDEDED;
  border-radius: 28.4444px;
}
.second .second__content--box .box__conteiner {
  display: flex;
  align-items: center;
  justify-content: start;
}
.second .second__content--box .box__conteiner .box__conteiner--image {
  margin-right: 20px;
  padding: 13px 20px;
  border-radius: 100%;
  margin-bottom: 20px;
}
.second .second__content--box .box__conteiner .chat-1 {
  background: #FFADD0;
}
.second .second__content--box .box__conteiner .volume {
  background: #908CFF;
  padding: 10px;
}
.second .second__content--box .box__conteiner .chat-2 {
  background: #FFCE79;
}
.second .second__content--box .btn-primary {
  text-align: center;
  margin-top: 20px;
  display: block;
  padding: 14px 18px;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-liner {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  background-attachment: fixed;
}

.localization {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.localization .localization__content:last-child {
  margin-left: 20px;
}

.container-content {
  margin: 0 20px;
}

.container-links-setas__seta:last-child {
  margin-left: 15px;
  padding: 15px;
  background-color: #5468E7;
  border-radius: 100%;
}

.btn-primary {
  background-color: #5468E7;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 30px;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
}

.btn-cta {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.title-h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

.title-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.title-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.information {
  color: #606060;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.conteiner-cards {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.conteiner-cards .card {
  width: 290px;
}
.conteiner-cards .card .card__box {
  height: 350px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
}
.conteiner-cards .card .card__box .card__box--btn {
  position: absolute;
  border-radius: 14px;
  font-size: 9.96px;
  line-height: 12.8px;
  padding: 7px 18px;
  background-color: #908CFF;
  top: 685px;
  left: 40px;
}
.conteiner-cards .card .card__box .card__box--figure {
  width: 280px;
}
.conteiner-cards .card .card__woman {
  background: #FFBA79;
}
.conteiner-cards .card .card__main {
  background: #E8BEFF;
}
.conteiner-cards .card .card__tablet {
  background: #FFCE79;
}
.conteiner-cards .card .card__tablet2 {
  background: #D1ECFD;
}
.conteiner-cards .card .card__man {
  background: #FFBA79;
}
.conteiner-cards .card .card__tablet-esp {
  background: #908CFF;
}
@media screen and (max-width: 300px) {
  .conteiner-cards .card {
    width: 260px;
  }
  .conteiner-cards .card__box {
    height: 200px;
  }
  .conteiner-cards .card__box .card__box--btn {
    left: 230;
  }
  .conteiner-cards .card__box .card__box--figure {
    width: 150px;
  }
}
@media screen and (min-width: 355px) {
  .conteiner-cards .card {
    width: 330px;
  }
  .conteiner-cards .card .card__box {
    height: 400px;
  }
  .conteiner-cards .card .card__box .card__box--btn {
    left: 60px;
    font-size: 12px;
  }
}
@media screen and (min-width: 400px) {
  .conteiner-cards .card {
    width: 370px;
  }
  .conteiner-cards .card__box {
    height: 460px;
  }
  .conteiner-cards .card__box .card__box--btn {
    left: 0;
  }
  .conteiner-cards .card__box .card__box--figure {
    width: 400px;
  }
}

@media screen and (min-width: 1100px) {
  .title-h1 {
    font-size: 84px;
    line-height: 100.24px;
  }
  .title-h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  .information {
    font-size: 18px;
    line-height: 32px;
  }
  .btn-primary {
    padding: 18px 20px;
    font-size: 18px;
    line-height: 24px;
  }
}/*# sourceMappingURL=style.css.map */